.weather {
  background: #fff url(./assets/images/weather.png) no-repeat -48px 33px;
  background-size: 300px;
}
.weather .title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 5px;
}
.weather .subtitle {
  color: #6f8394;
  font-size: 13px;
  font-weight: 300;
}
.weather .temperature {
  font-size: 50px;
  font-weight: 600;
}
.weather .icon {
  position: relative;
  top: -15px;
}
.weather .middle-row {
  padding-top: 30px;
}
.weather .last-row {
  padding-top: 15px;
}
.weather .extra-icon {
  color: #6f8394;
  float: left;
  font-size: 13px;
  font-weight: 300;
  margin-right: 15px;
}

.weather .wind {
  background: url(./assets/images/wind-icon.png) no-repeat left;
  background-size: 23px;
  padding-left: 27px;
}
.weather .humidity {
  background: url(./assets/images/humidity-icon.png) no-repeat left;
  background-size: 16px;
  padding-left: 22px;
}
