.covid {
  background: #fff url(./assets/images/covid19.png) no-repeat 119% -145px;
  background-size: 300px;
}
.covid .title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 5px;
}
.covid .subtitle {
  color: #6f8394;
  font-size: 13px;
  font-weight: 400;
}
.covid .total {
  color: #6f8394;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 600;
}
.covid .value {
  padding-top: 10px;
  font-size: 60px;
  font-weight: 600;
}
.covid .middle {
  position: relative;
}
.covid .icon {
  position: absolute;
  top: 25px;
  left: 65px;
}
.covid .material-icons {
  font-size: 80px;
}
.covid .middle-row {
  padding-top: 20px;
}
.covid .last-row {
  padding-top: 15px;
}
.covid .last-row .date {
  color: #6f8394;
  font-size: 13px;
  font-weight: 400;
}