.exchange {
  background: #fff url(./assets/images/money.png) no-repeat -61px 40px;
  background-size: 300px;
}
.exchange .title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 5px;
}
.exchange .subtitle {
  color: #6f8394;
  font-size: 13px;
  font-weight: 400;
}
.exchange .currency {
  color: #6f8394;
  font-size: 15px;
  font-weight: 400;
}
.exchange .value {
  font-size: 60px;
  font-weight: 600;
}
.exchange .middle {
  position: relative;
}
.exchange .icon {
  position: absolute;
  top: 25px;
  left: 65px;
}
.exchange .material-icons {
  font-size: 80px;
}
.exchange .middle-row {
  padding-top: 6px;
}
.exchange .last-row {
  padding-top: 15px;
}