* {
  font-family: 'Montserrat', sans-serif;
  color: #1f2b36;
}
body {
  background-color: #f6f6f6;
}
.wrapper {
  padding-top: 50px;
}
.card-common {
  background: #fff;
  height: 250px;
  padding: 15px 20px;
  box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.18);
  margin-bottom: 30px;
}